name: CI

on: [push, pull_request]

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  Validation:
    name: Validate the Code
    runs-on: ubuntu-latest
    steps:
      - name: Prepare the Environment
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Install PNPM
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0

      - name: Install Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          cache: pnpm
          node-version: node

      - name: Install the Dependencies
        run: pnpm install --ignore-scripts

      - name: Run the Validations
        run: pnpm run ci:validate
