name: CI

on: [push, pull_request]

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  Validation:
    name: Validate the Code
    runs-on: ubuntu-latest
    steps:
      - name: Prepare the Environment
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install PNPM
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0

      - name: Install Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          cache: pnpm
          node-version: node

      - name: Install the Dependencies
        run: pnpm install --ignore-scripts

      - name: Run the Validations
        run: pnpm run ci:validate
