name: RELEASE

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'The type of version-bump (patch, minor, or major)'
        required: true
        type: choice
        options:
          - patch
          - minor
          - major

jobs:
  release:
    name: Release a New Version
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write

    steps:
      - name: Prepare the Environment
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Install Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: node
          registry-url: 'https://registry.npmjs.org'

      - name: Install PNPM
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0

      - name: Install the Dependencies
        run: pnpm install

      - name: Configure Git
        run: |
          git config user.name "${{ github.actor }}"
          git config user.email "${{ github.actor_id }}+${{ github.actor }}@users.noreply.github.com"

      - name: Bump the Version & Create a New Tag
        id: version
        run: |
          new_version=$(npm version ${{ github.event.inputs.version }} --no-git-tag-version)
          git commit -am "chore: release $new_version"
          git tag -am "Release $new_version" $new_version
          git push --follow-tags
          echo "tag=$new_version" >> $GITHUB_OUTPUT

      - name: Publish to NPM
        run: npm publish

      - name: Generate a Changelog Based on Conventional Commits
        id: changelog
        uses: requarks/changelog-action@b78a3354a01f4a1affb484b9264b506a815c46b1 # v1.10.3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ steps.version.outputs.tag }}
          writeToFile: false
          useGitmojis: false
          includeRefIssues: true
          includeInvalidCommits: true
          restrictToTypes: feat,perf,fix,docs,refactor

      - name: Create a Draft GitHub Release
        uses: ncipollo/release-action@b7eabc95ff50cbeeedec83973935c8f306dfcd0b # v1.20.0
        with:
          draft: true
          makeLatest: true
          allowUpdates: true
          generateReleaseNotes: true
          token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ steps.version.outputs.tag }}
          body: ${{ steps.changelog.outputs.changes }}
